.container{
  background-color: rgba(253,236,251,0.75);
  height:650px;
}
img
{width: 20%;
  height: 165px;
  margin-left: 350px;
  margin-top: 20px;
  align:centre;

}.box2{
  width: 100%;
  height: 200px;
  background-color: rgba(126,253,180,0.75);
 }
.table-bordered{
  width: 100%;
}
@media only screen and (max-width: 1000px) and @media screen and (min-width: 150px)
{   .img{
    width:20%;
    height: 50px;
    margin-right:270px;
  }
  .table-bordered{
    width:50%;
  }
  .box2{
      width:50%;
    height: 70px;
  }

}
  .mt-0 {
    margin-top: 0 !important;
  }

  .ml-1 {
    margin-left: ($spacer * .25) !important;
  }

  .px-2 {
    padding-left: ($spacer * .25) !important;
    padding-right: ($spacer * .25) !important;
  }

  .p {
    padding: $spacer !important;

  }
